.card-wrapper {
    background-color: var(--color-white);
    padding: 2rem;
    width: 30vw;
    height: 10rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

}

.card-author {
    color: var(--color-secondary);
}

.card-info {
    color: var(--color-secondary);
}