.overview-wrapper {
    background-color: var(--color-tertiary);
    margin: 0 12rem;
    padding: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    }